.container {
   justify-content: center;
    width: 95vw;
    height: 73vh;
    margin-left: 600px;
}

.form-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}


.content-container {

   display: grid;
    margin-top: 70px;
    margin-right: 30px;
    margin-left: 20px;
    width: 50%;
    height: 100%;
    overflow: visible;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: 1px black solid;
}

.content-container .project-container {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.content-container .project-container img {
    height: 150px;
    margin-right: 10px;
}

.content-container .project-container .text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-container .project-container .text-container .icon-container {
    margin-top: 10px;
}

span {
    color: gray;
    font-size: 12px;
}

.btn-div .edit-btn {
    padding: 8px 25px;
    background-color: rgb(69, 69, 247);
    border-radius: 15px;
}

.btn-div .detail-btn {
    padding: 8px 20px;
    background-color: gray;
    border-radius: 15px;

}

.btn-div {
    align-self: end;
    justify-self: end;
}

form {
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .form-container form .blog-input {
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(75, 94, 100);
    border-radius: 15px;
}

.container .form-container form .blog-radio {
    background-color: whitesmoke;
    margin-bottom: 15px;

}

.blog-radio {
    display: grid;
}

label {
    font: 25px;
    font-weight: bold;
    margin-right: 10px;
}

.form-container form h1 {
    text-align: center;
}

.input-submit {

    background-color: rgb(171, 165, 250);
    padding: 10px;
    border-radius: 15px;
    width: 200px;
    border: 1px solid rgb(100, 92, 75);
}


textarea {
    resize: none;
}